/* app css stylesheet */

@font-face {
  font-family: Bebas;
  src: url(../fonts/Bebas.otf); }

@font-face {
  font-family: Regencie;
  src: url(../fonts/Regencie.ttf); }

@font-face {
  font-family: Grotesk;
  src: url(../fonts/Grotesk.otf); }

html {
  left: 0;
  top: 0;
}

body {
  font-size: 16px;
  line-height: 1.4;
  color: #0f0f0f;
  background-color: #f2f2f2;
  font-family: Grotesk;
}

.jumbotron {
  padding: 20px;
}

.loading {
  margin: 0 auto;
  height: 250px;
  width: 250px;
}

.eventimage {
  width:100px;
}

.loadingimg {
  width: 250px;
  height: 250px;
}

/*@media(max-width:767px){

}*/

@media(min-width:768px){

}
@media(min-width:992px){

}
@media(min-width:1200px){

}
