/* app css stylesheet */

@font-face {
  font-family: Bebas;
  src: url(../fonts/Bebas.otf); }

@font-face {
  font-family: Regencie;
  src: url(../fonts/Regencie.ttf); }

@font-face {
  font-family: Grotesk;
  src: url(../fonts/Grotesk.otf); }

html {
  left: 0;
  top: 0;
}

body {
  font-size: 16px;
  line-height: 1.4;
  color: #0f0f0f;
  background-color: #f2f2f2;
  font-family: Grotesk;
}

.jumbotron {
  padding: 20px;
}
.page1{
  font-family: Regencie;
}

.loading {
  background: url("../img/loading.gif") no-repeat left top;
  background-size: 100px 80px;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  display: none;
}

.logo {
  max-width: 200px;
  margin: 0 auto;
}

.receipt {
  display: none;
}

.eventimage {
  width:100px;
}

.appTitle {
  font-size: 36px;
  font-family: Grotesk;
}

.toppadding {
  margin-top: 150px;
}

@media(max-width:767px){
  .logo {
    max-width: 180px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .toppadding {
    padding: 0 auto;
    margin-top: 50px;;
  }
  .verticalSpan{

  }
}

@media(min-width:768px){

}
@media(min-width:992px){

}
@media(min-width:1200px){

}
