@import url(https://fonts.googleapis.com/css?family=Oxygen);


.questions {
  position: fixed;
  top:50px;
  background-color: #020202;
  padding: 10px;
  width: 100%;
  text-align: center;
  /*margin-top: 50px;;*/
}

.heading1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Oxygen;
  font-size: 28px;
}

.div1 {
  text-align: center;
  margin-top: 200px;;
  font-family: Oxygen;
  margin-bottom: 60px;;
}

.div2 {
  text-align: left;
  margin-left: 0 auto;
  margin-right: 30px;
  font-family: Oxygen;
}
.form-control {
  margin:0 auto;
  width: 200px;
}


@media(max-width:767px){
  .questions {
    top: 50px;
    font-size: 12px;
    text-align: center;
  }
  .div1 {
    text-align: center;
    margin-top: 180px;;
    font-family: Regencie;
    margin-bottom: 60px;;
  }
  .div2 {
    margin-right: 20px;
  }
  .heading1 {
    font-size: 20px;
  }
  .div3{
    background-color: rgba(0, 0, 0, 0.0);

  }
}
