@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Oxygen);


.form {
  position: relative;
  z-index: 1;
  background: #262626;
  max-width: 360px;
  margin: 0 auto 200px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color: black;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0088b9;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #0040b9;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.form .login-form {
  display: none;
}

.loginerrormessage, .emailerrormessage, .loginerrormessage2, .generalError, .sessionexpired {
  margin-top: 50px;
  color: red;
  display: none;
}

.accountcreation {
  margin-top: 50px;
  display: none;
}

.sessionExpiredMessage {
  margin-top: 50px;
  color: red;
}

.feedback {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

@media(max-width:767px){
  .container {
    margin: 0 auto;
  }
  .form {
    max-width: 340px;;
    margin: 0 auto 200px;
    padding: 45px;
  }

}

.accountcreation {
  color: green;
}

.fullbodyloading {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-image:url('../img/loading.gif');
  background-repeat: no-repeat;
  background-size: 180px 160px;
  background-position: center;
  /*background-color: rgba(0, 0, 0, 0.5);*/
}

.noview {
  display: none;
}
