/*CSS for the Splash Screen*/

@font-face {
  font-family: Bebas;
  src: url(../fonts/Bebas.otf); }

@font-face {
  font-family: Regencie;
  src: url(../fonts/Regencie.ttf); }

@font-face {
  font-family: Grotesk;
  src: url(../fonts/Grotesk.otf); }

html {
  width: 100%;
  height: 100%;
}

.about{
  font-size: 26px;
  line-height: 1.2;
  color: #f2f2f2;
  /*background-color: #0f0f0f;*/
  font-family: Regencie;
  background: url(../img/Edited/nust-bg.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

}

body {
  font-size: 26px;
  line-height: 1.2;
  color: #f2f2f2;
  /*background-color: #0f0f0f;*/
  font-family: Regencie;
  background: url(../img/Edited/nust-bg.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

}

a {
  color: rgba(0, 255, 255, 0.8);
}

h1 {
  font-size: 55px;
}

.splashbar {
  font-size: 12px;
  /*font-family: Bebas;*/
  font-family: 'Montserrat', sans-serif;
  text-transform:uppercase;
  letter-spacing:2px;
  font-weight:700;
}
.splashscreen {
  /*position:fixed;*/
  width: 100%;
  margin-top: 13%;
  background-color: rgba(0, 0, 0, 0.5);
  /*padding: 30px 0 !important;*/
  }

.aboutscreen {
  /*position:fixed;*/
  width: 100%;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 30px;
  padding-bottom: 30px;
}


.jumbotron p {
    font-size: 18px;
    line-height: 28px;
}

.logo {
  max-width: 45px;
  max-height: 45px;
}

.logobrand {
  width: 50px;
}

.logodescription {
  font-size: 30px;
  margin-top: 15px;
  margin-left: 5px;
}

.navbuttons {
  font-size: 18px;
  margin-top: 15px;
}

.navbar-toggle {
  margin-top: 15px;
}

.loginbutton:hover, .faqbutton:hover, .aboutusbutton:hover {
}

.footer {
  /*height: 28px;*/
  position: fixed;
  bottom:0;
  width: 100%;
  text-align: center;
}

.footertext {
  font-family: Regencie;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  padding-top: 5px;
  padding-bottom: 4px;
  font-size: 20px;
}

@media(max-width:767px){
  .splashscreen {
    margin-top: 120px;
  }
  .aboutscreen {
    margin-top: 70px;
  }
  .navcolour {
    background-color: rgba(0 , 0, 0 , 0.7);
  }
  .footertext {
    font-size: 14px;
  }
  .footer {
    height: 22px;
  }
  .aboutscreen h1 {
    font-size: 32px;
  }
  .aboutscreen p {
    font-size: 14px;
  }
}

@media(min-width:768px){

}
@media(min-width:992px){

}
@media(min-width:1200px){

}
/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
.opaque-navbar {
    background-color: rgba(0,0,0,0.0);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 75px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: rgba(0,0,0,0.5);
    height: 75px;
    transition: background-color .5s ease 0s;
}

/*@media (max-width: 992px) {
    .opaque-navbar {
      height: 75px;
      transition: background-color .5s ease 0s;
  }
}*/


.a{
    height:100px;
}

.b{
    height:100px;
}

#story, #product {
  cursor: pointer;
}
