/*CSS for the Splash Screen*/

@font-face {
  font-family: Bebas;
  src: url(../fonts/Bebas.otf); }

@font-face {
  font-family: Regencie;
  src: url(../fonts/Regencie.ttf); }

@font-face {
  font-family: Grotesk;
  src: url(../fonts/Grotesk.otf); }

html {
  left: 0;
  top: 0;
}

body {
  font-size: 26px;
  line-height: 1.2;
  color: #f2f2f2;
  background-color: #0f0f0f;
  font-family: Bebas;
  text-align: center;
  margin-top: 200px;
}

h1 {
  font-size: 55px;
}
/*@media(max-width:767px){

}*/

@media(min-width:768px){

}
@media(min-width:992px){

}
@media(min-width:1200px){

}
