<div class = "background2">
<div class ="jumbotron splashscreen aboutscreen">
    <div id ="paraA">
      <h1>Our Story!</h1>
      <p> Hi there! We're Team Jalapeño, the proud owners of NUCoins. </p>
      <p>Our team comprises of three CS students of NUST who are motivated to make extraordinary things that would be in anyway helpful for NUSTIANS. Our scope isn't limited to NUST only, we plan to extend our horizons after we graduate for the betterment of society. What you need to know about us is that we enjoy our work and put a lot of effort to achieve the end results.</p><br>
      <a id ="story">Our Product <span style class="glyphicon glyphicon-play"  ></span></a>
    </div>
   <div id ="paraB">
      <h1>Our Product!</h1>
      <p>We're glad you're using NUCoins!</p>
      <p>The basic idea behind our product NUCoins is to introduce virtual money at NUST so the students can avoid carrying paper money all the time. So even if you lose your wallet, you won't lose any cash. With NUCoins transactions are now one click away. Tickets can now be bought and NUCoins can be transferred by a single click. NUCoins can be used to award students for their efforts whether that be in studies or any extra curricular activity. This will give them a very good incentive to work harder.</p><br>
      <a id ="product">Our Story <span class="glyphicon glyphicon-play"  ></span></a>
   </div>
</div>
</div>
