<script>
jq( document ).ready(function() {
    console.log( "ready!" );
    jq(".homepagelink").attr("href", "#/admin");
    jq(".purchasebutton").hide();
});

</script>
<div class = "jumbotron" ng-controller='AddAmountCtrl'>
<h1 > Welcome, {{name}}! </h1>
<h3>Your account history is as follows:</h3>
</div>


<div class="container">
  <div class = "row">
    <div class = "col-md-8">

      <div class = "amountAdder" ng-controller='AddAmountCtrl'>
        <h2>Transaction</h2>
        <p>Enter Email:
        <input type="email" placeholder="Receiver's email address" ng-model="user.receiver" required="required"/>
        <p>Enter Amount:
        <input type="number" placeholder="transfer amount" ng-model="user.amount" required="required"/><br>
        <p>Enter Title:
        <input type="text" placeholder="A title for your transaction" ng-model="user.titles" required="required"/>
        <p>Enter Description:
        <input type="text" placeholder="Transaction Description" ng-model="user.descriptions" required="required"/><br>
       <p><button ng-click='amount($event);'>Transfer</button><br>
         <p class = "errorMsg">You cannot transfer NUCoins to your own account. Please enter a Valid Email Address</p>
         <p><h2>Transaction history</h2>
          <button ng-click='details($event);'>Transaction Details</button>
       </div>


    </div>
    <div class = "col-md-4">
      <div class="siteRating" ng-controller="ratingCtrl">
        <br><h2>Site Average Rating:</h2></br>
        <b> Average Rating:</b> {{rating}} <br>
        <b>Number of Users:</b> {{numberOfRatings}} <br>
      </div>

      <div class="frequentUsers" ng-controller="frequentUsersCtrl">
        <br><h2>Frequent Users:</h2></br>
        <ul>
          <li><b> First:</b> {{user1}} <br>
              <b> Number of Transactions:</b> {{user1Transactions}}
          </li> <br>
          <li><b>Second:</b> {{user2}} <br>
              <b> Number of Transactions:</b> {{user2Transactions}}
          </li> <br>
        <ul>
      </div>

      <div class = "transactiondiv" ng-controller = "RecentTransactionControl">
        <br>Your Recent Transactions:
        <ul ng-repeat ="transaction in transactions">
          <li > <b>Title:</b>{{transaction.Title}} <br>
            <b>Amount:</b>{{transaction.Amount}} <br>
            <b>  Date:</b> {{transaction.Date }} <br>
            <b>Time:</b> {{transaction.Time}} <br>
            <b> Description:</b>  {{transaction.Description}}</li> <br>
         <br>
        </ul>
        <p class ="noRecents">You have no Recent Transactions to show</p>
      </div>

    </div>
    <div ng-controller = "RechargeAccountCtrl">
      <p>Enter code to recharge NUCoins
      <input type="text" placeholder="recharge code" ng-model="rechargeCode"/><br>
      <p><button ng-click='recharge($event);'>Recharge</button>
    </div>

  </div>
</div>
