<script>
jq( document ).ready(function() {
    console.log( "ready!" );
    jq(".homepagelink").attr("href", "#/admin");
    jq(".purchasebutton").hide();
    jq(".eventbutton").hide();
});
</script>

<div class = "jumbotron splashscreen" ng-controller='AddAmountCtrl'>
<h1 > Welcome, {{name}}! </h1>
<h2>Your NUCoins: <span style="color:lightblue">{{coins}}</span></h2>
</div>


<div class="container bottompadding">
  <div class = "row">
    <div class = "col-md-7">

      <div class = "amountAdder" ng-controller='AddAmountCtrl'>
        <h2>Transaction</h2>
        <form class = "form-group">
          <div class = "formentries">
          <p>Enter Email:<span><input type="email" class = "form-control pull-right" placeholder="Receiver's email address" ng-model="user.receiver" required=""/></span></p><br>
          <p>Enter Amount:<span><input type="number" class = "form-control pull-right" placeholder="Transfer amount" ng-model="user.amount" required="" min="10"/><br></span></p><br>
          <p>Enter Title:<span><input type="text"  class = "form-control pull-right"placeholder="A title for your transaction" ng-model="user.titles" required=""/></span></p><br>
          <p>Enter Description:<span><input type="text"  class = "form-control pull-right"placeholder="Transaction Description" ng-model="user.descriptions" required=""/><br></span></p><br>
        </div>
          <p><button  class = "form-control transfer" ng-click='amount($event);'>Transfer</button></p>
          <p class = "errorMsg">*You cannot transfer NUCoins to your own account. Please enter a Valid Email Address.</p>
          <p class = "errorMsg2">*Please provide all details to transfer coins.</p>
          <p class = "invalidEmail">*The email entered doesn't exist in our database. You can only send NUCoins to NUCoin users.</p>
          <p class = "succMessage3">{{user.amount}} NUCs have successfully been transferred.</p>
          <p class = "errorMsg3">*The specified user hasn't created an account on NUCoins yet.</p>
          <p class = "recError">*Your balance is insufficient to make this transaction.</p>
        </form>

        <p><h2>Transaction history</h2></p><br>
        <button class = "form-control mybutton" ng-click='details($event);'>Transaction Details</button>
      </div>

      <div class = "transactiondiv" ng-controller = "RechargeAccountCtrl">
        <form>
          <p><h2 style="text-align: left;">Enter code to recharge NUCoins</h2></p>
          <input type="text" class = "form-control pull-left" placeholder="Recharge code" ng-model="rechargeCode" required=""/><br><br>
          <p><button class = "form-control pull-left recharge" ng-click='recharge($event);'>Recharge</button></p><br>
          <br><p class="rechargeMessage1">*You entered invalid code!</p>
          <p class="rechargeMessage2">Coins successfully added!</p>
        </form>
      </div>
    </div>
    <div class = "col-md-4">
      <div class = "transactiondiv" ng-controller = "RecentTransactionControl">
        <h3><br>Your Recent Transactions:</h3></br>
        <ul ng-repeat ="transaction in transactions">
          <li > <b>Title:</b>{{transaction.Title}} <br>
            <b>Amount:</b>{{transaction.Amount}} <br>
            <b>  Date:</b> {{transaction.Date }} <br>
            <b>Time:</b> {{transaction.Time}} <br>
            <b> Description:</b>  {{transaction.Description}}</li> <br>
         <br>
        </ul>
        <p class ="noRecents">You have no Recent Transactions to show</p>
      </div>
      <div class="siteRating transactiondiv" ng-controller="ratingCtrl">
        <br><h2 style="text-align: left;">Site Average Rating:</h2></br>
        <ul>
          <li>
        <b> Average Rating:</b> {{rating}} <br></li>
        <li>
        <b>Number of Users:</b> {{numberOfRatings}} <br></li>
      </div>

      <div class="frequentUsers transactiondiv" ng-controller="frequentUsersCtrl">
        <h2 style="text-align: left;">Frequent Users:</h2></br>
        <ul>
          <li><b> First:</b> {{user1}} <br>
              <b> Number of Transactions:</b> {{user1Transactions}}
          </li> <br>
          <li><b>Second:</b> {{user2}} <br>
              <b> Number of Transactions:</b> {{user2Transactions}}
          </li> <br>
        <ul>
      </div>
    </div>

  </div>
</div>
