<div class = "jumbotron questions">
  <div class="heading1 pull-left">Events</div>
  <input class="form-control eventsearch pull-left" ng-model="query" placeholder="Search...">
  <button class = "btn btn-default pull-right mybutton" style = "width: 120px;position:relative;" ng-click = "updateEvents()">Update Events</button>
</div>
</div>

<div class="ev">
  <ul class="events">
    <li ng-repeat="event in events | filter:query | orderBy:orderProp" class="eventlist">
      <span><a href="#/events/{{event.id}}"><img class = "img-circle eventimage" ng-src="{{event.imageUrl}}" alt="{{event.name}}"></a>
      <a href="#/events/{{event.id}}">{{event.name}}</a></span>
      <span class = "eventcost pull-right"><p>Cost: {{event.cost}} NUCs</p></span>
      <p>{{event.snippet}}</p>
      <a class="btn btn-primary eButton" href="#/eventsbuy/{{event.id}}">Buy Ticket</a>
    </li>
  </ul>
</div>
