<div class = "jumbotron splashscreen">
<h2>Available Events</h2>
<button ng-click = "updateEvents()">Update Events</button>
</div>

<p>Search: <input ng-model="query"><br>

<div class="ev">
  <ul class="events">
    <li ng-repeat="event in events | filter:query | orderBy:orderProp" class="splashscreen">
      <a href="#/events/{{event.id}}"><img class = "img-circle eventimage" ng-src="{{event.imageUrl}}" alt="{{event.name}}"></a>
      <a href="#/events/{{event.id}}">{{event.name}}</a>
      <a class="eButton" href="#/eventsbuy/{{event.id}}">Buy Ticket</a>
      <p>{{event.cost}} NUCs</p>
      <p>{{event.snippet}}</p>
    </li>
  </ul>
</div>
