
<h1><img ng-src="{{event.images[0]}}" class="img-circle eventimage"> {{event.name}}</h1></span>

<div class="mainDiv">
  <div class="outerDiv">
    <h2>Cost: {{event.cost}} NUCs</h2>

    <div class="imgDiv">
      <img ng-src="{{event.images[1]}}" class="mainImage">
      <img ng-src="{{event.images[2]}}" class="mainImage">
    </div>

    <div class="desEvent">
      <br>
      <p ng-repeat="x in event.description" class="">
        {{x}}
      </p>
      <br>
    </div>

    <h3>Visit the event page on Facebook: <a target="_blank" href="{{event.link}}"><img ng-src="../../img/fb.png" class="fbLogo"></a></h3>
    <div class="btn">
      <a class="eButton2" href="#/eventsbuy/{{event.id}}">Buy Ticket</a>
    </div>
  </div>
</div>
<h1>Date: {{event.date}}</h1>
