<div class = "container  bottompadding">
<div class = "jumbotron splashscreen">
  <div class="feedback">
    <div class="bg-div">
      <h2>Thankyou for using our website!</h2></p>
      <h4>How was your experience?</br></h4>
      <form class="login-form">
        <input class = "form-control pull-left" ng-model="feedback" type="number" ng-model="feedback" min="1" max="10"/></p></br><br>
        <p>Feedback (A scale of 1-10)</p>
        <button class = "btn btn-default green" ng-click="SubmitFeedback()">submit</button>
        <p><h4>Don't want to rate? No problem!</h4></p>
        <button class = "btn btn-default red" ng-click="LogOut()">logout</button>

      </form>
        <p class="feedbackError">*Please fill out the value for feedback to submit it.</p>

    </div>
  </div>
</div>
</div>
