<div>
  <h1><img ng-src="{{event.images[0]}}" class="img-circle eventimage"> {{event.name}}</h1></span>
  <h2>Cost: {{event.cost}}</h2>

  <div class="imgDiv">
    <img ng-src="{{event.images[1]}}" class="mainImage"> &nbsp
    <img ng-src="{{event.images[2]}}" class="mainImage">
  </div>

  <div class="desEvent">
    <br>
    <p>{{event.description[0]}}</p>
    <p>{{event.description[1]}}</p>
    <p>{{event.description[2]}}</p>
    <p>{{event.description[3]}}</p>
  </div>

  <h3>Visit the link for more details: <a href="{{event.link}}">{{event.link}}</a></h3>
  <h1>Date: {{event.date}}</h1>
</div>
