<script>jq(".homepagelink").attr("href", "#/student");</script>

<div class = "jumbotron" ng-controller='AddAmountCtrl'>
<h1 > Welcome, {{userEmail}} </h1>
<h3>Your account history is as follows:</h3>
</div>

<div class="container">
  <div class = "row">
    <div class = "col-md-8">

      <div class = "amountAdder" ng-controller='AddAmountCtrl'>
        <h2>Transaction</h2>
        <p>Enter Email:
        <input type="email" placeholder="Receiver's email address" ng-model="user.receiver" required="required"/>
        <p>Enter Amount:
        <input type="number" placeholder="transfer amount" ng-model="user.amount" required="required"/><br>
        <p>Enter Title:
        <input type="text" placeholder="A title for your transaction" ng-model="user.titles" required="required"/>
        <p>Enter Description:
        <input type="text" placeholder="Transaction Description" ng-model="user.descriptions" required="required"/><br>
       <p><button ng-click='amount($event);'>Transfer</button><br>


       <p><h2>Transaction history</h2>
        <button ng-click='details($event);'>Transaction Details</button>
       </div>

    </div>
    <div class = "col-md-4">

      <div class = "transactiondiv" ng-controller = "RecentTransactionControl">
        <br>Your Recent Transactions:
        <ul ng-repeat ="transaction in transactions">
          <li > <b>Title:</b>{{transaction.Title}} <br>
            <b>Amount:</b>{{transaction.Amount}} <br>
            <b>  Date:</b> {{transaction.Date }} <br>
            <b>Time:</b> {{transaction.Time}} <br>
            <b> Description:</b>  {{transaction.Description}}</li> <br>
         <br>
        </ul>
      </div>

    </div>
  </div>
</div>
