<!-- <script>jq(".homepagelink").attr("href", "#/student");</script> -->
<div class = "page1" ng-controller='WithdrawCtrl'>

<h3>Transfer:</h3>

<div class = "amountAdder">
  Please enter the following details of the transaction<br><br>
    <!-- Enter Email:
  <input type="email" placeholder="email address" ng-model="user.studentid" required="required"/> -->
    For security purposes you are required to enter your password again
    <input type="password" ng-model="userPassword" placeholder="password"/><br>
    Enter Amount:
   <input type="number" placeholder="transfer amount" ng-model="user.amount" required="required"/><br>
    Enter name of beneficiary:<br>
    <input type="text" placeholder="name" ng-model="user.beneficiary" required="required"/><br>

 <button ng-click='receipt($event);'>Create Receipt</button>
 </div>

<div class = "receipt">
Your code is {{transactionCode}} <br>
Your email is {{email}} <br>
Beneficiary is {{user.beneficiary}} <br>
</div>

</div>
</div>
