<!-- <script>jq(".homepagelink").attr("href", "#/student");</script> -->
<div class = "page1" ng-controller='WithdrawCtrl'>

  <h3>Withdraw:</h3>

  <div class = "amountAdder">
    Please enter the following details of the transaction<br><br>
    <!-- Enter Email:
    <input type="email" placeholder="email address" ng-model="user.studentid" required="required"/> -->
    <form>
      For security purposes you are required to enter your password again
      <input type="password" ng-model="userPassword" placeholder="password" required=""/><br>
      Enter Amount:
      <input type="number" placeholder="Amount to Withdraw" ng-model="user.amount" required=""/><br>
      Enter name of beneficiary:<br>
      <input type="text" placeholder="Receiver's name" ng-model="user.beneficiary" required=""/><br>
      <button ng-click='receipt($event);'>Create Receipt</button>
    </form>

  </div>

  <div class = "receipt">
    Your code is {{transactionCode}} <br>
    Your email is {{email}} <br>
    Beneficiary is {{user.beneficiary}} <br>
  </div>

  <p class = "withdrawError">Your Balance is Insufficient for the amount entered. Please Recharge your Account.</p>
  <p class = "withdrawError2">The specified user account password is incorrect.</p>

</div>
